@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.item {
border-bottom: 1px solid #E5E5E5;
}
.item td {

}

.item:last-of-type {
    border-bottom: none;
}

.users {
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap:15px;
    margin-bottom: 15px;
}

.container {
    max-width: 606px;
}

.thead {
    background: #E5E5E5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


}

.nameCol {
min-width: 300px;
    padding: 11px 0px 9px 17px;
}

.ageCol {
    padding: 11px 0px 9px 17px;
    min-width: 300px;
    background: #E5E5E5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
}